<!DOCTYPE html>
<html>
<head>
	<title>Mr Cheese</title>
	<link rel="shortcut icon" href="img/comida.png"/>
	<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rammetto+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
	<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="js/bPopUp.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
	<script>
	  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyC2u0d1Ph7mUk4YvX98XgMqn-0SUGUwZqY",
	    authDomain: "despachadordb.firebaseapp.com",
	    databaseURL: "https://despachadordb.firebaseio.com",
	    projectId: "despachadordb",
	    storageBucket: "",
	    messagingSenderId: "341989072839"
	  };
	  firebase.initializeApp(config);
	</script>
	<div class="border-body left-side">
		<div class="logo-img">
			<div class="title"></div>
		</div>
		<div class ="buttons">
		<button class="btn btn-primary mb-2" id="menu1" data-toggle="dropdown">Mensajeros </button> 
				<ul class="dropdown-menu" type="submit" role="menu" aria-labelledby="menu1"> 
					 <li id="addMensajero">Agregar </li>
					 <li id="actuMensajero">Actualizar </li>
					 <li id="buscarMensajero">Buscar </li>
					 <li id="eliminarMesajero">Eliminar </li>
				</ul>
			<button type="submit" class="btn btn-primary mb-2">Pedidos</button>
			<button type="submit" class="btn btn-primary mb-2">Chat</button>
			<button type="submit" class="btn btn-primary mb-2">Ayuda</button>
		</div>
	</div>
	
	<div class="border-body rigth-side">
		<div class="header">
			<div class="title-blue">Gestión de pedidos</div> 
			<div class="blue-content">Módulo de gestión y administración de pedidos y mensajeros.</div>
		</div>
		<div class="rigth-side-content">
			<div class="lane lbl" id="firstLane" ondrop="Mensajeros.drop(event)" ondragover="Mensajeros.allowDrop(event)">
				<div class="tag">En espera</div>
				<div draggable="true" ondragstart="Mensajeros.drag(event)" class="mensajero" id="mensajero1">
					<div class="border-blue">
						<div>Pedido 1</div>
						<div>Fecha de pedido</div>
						<div>Mensajero asignado</div>
					</div>
				</div>
				<div draggable="true" ondragstart="Mensajeros.drag(event)" class="mensajero" id="mensajero2">
					<div class="border-blue">
						<div>Pedido 1</div>
						<div>Fecha de pedido</div>
						<div>Mensajero asignado</div>
					</div>
				</div>
				<div draggable="true" ondragstart="Mensajeros.drag(event)" class="mensajero" id="mensajero3">
					<div class="border-blue">
						<div>Pedido 1</div>
						<div>Fecha de pedido</div>
						<div>Mensajero asignado</div>
					</div>
				</div>
			</div>
			<div class="lane lbl" ondrop="Mensajeros.drop(event)" ondragover="Mensajeros.allowDrop(event)">
				<div class="tag">Despachado</div>
			</div>
			<div class="lane lbl" ondrop="Mensajeros.drop(event)" ondragover="Mensajeros.allowDrop(event)">
				<div class="tag">Entregado</div>
			</div>
			<div class="lane lbl" ondrop="Mensajeros.drop(event)" ondragover="Mensajeros.allowDrop(event)">
				<div class="tag">Cancelado</div>
			</div>
		</div>
	</div>

	<div id="popUp">
		<div>
			<select>
			  <option value="volvo">Mensajero 1</option>
			  <option value="saab">Mensajero 2</option>
			  <option value="mercedes">Mensajero 3</option>
			  <option value="audi">Mensajero 4</option>
			</select>
		</div>
	</div>
	<!-- Formulario de registro de mensajeros -->
	<div id="popUpAdd">
		<div class="container">
			<div class="form__top">
				<h4>Registrar mensajero</h4>
			</div>		
			<form class="form__reg" action="">
				<input class="input" type="text" placeholder="&#128100;  Nombre" required autofocus>
				<input class="input" type="text" placeholder="&#128387;  Cédula" required>
				<input class="input" type="text" placeholder="&#128504;  Placa" required>
				<input class="input" type="email" placeholder="&#9993;  Email" required>
				<input class="input" type="text" placeholder="&#128222;  Telefono" required>
				<input class="input" type="text" placeholder="&#8962;  Dirección" required>
				<div class="btn__form">
					<input class="btn__submit" type="submit" value="REGISTRAR">
					<input class="btn__reset" type="reset" value="LIMPIAR">	
				</div>
			</form>
		</div>
	</div>
	<!--Eliminar mensajeros -->
	<div id="popUpDelate">
			<div class="container">
			<div class="form__top">
				<h4>Eliminar mensajero</h4>
			</div>		
			<form class="form__reg" action="">
				<div class="dropdown"> 
				 <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Mensajeros 
				 <span class="caret"></span></button> 
					 <ul class="dropdown-menu" role="menu" aria-labelledby="menu1"> 
						 <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Juan</a></li> 
						 <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Pedro</a></li> 
						 <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Luis</a></li>
					</ul> 
				</div> 
				<div class="btn__form">
					<input class="btn__submit" type="submit" value="Eliminar">
				</div>
			</form>
		</div>
	</div>
	<!-- Actualizar mensajero -->
	<div id="popUpDate">
		<div class="container">
			<div class="form__top">
			<h4>Actualizar mensajero</h4>
			</div>		
			<form class="form__reg" action="">
				<div class="dropdown"> 
				 <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Mensajeros 
				 <span class="caret"></span></button> 
				 <ul class="dropdown-menu" role="menu" aria-labelledby="menu1"> 
					 <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li> 
					 <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li> 
					 <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li> 
					 <li role="presentation" class="divider"></li> 
					 <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li> 
				 </ul> 
				</div> 
				<input class="input" type="text" placeholder="&#128100;  Nombre" required autofocus>
				<input class="input" type="text" placeholder="&#128387;  Cédula" required>
				<input class="input" type="text" placeholder="&#128504;  Placa" required>
				<input class="input" type="email" placeholder="&#9993;  Email" required>
				<input class="input" type="text" placeholder="&#128222;  Telefono" required>
				<input class="input" type="text" placeholder="&#8962;  Dirección" required>
				<div class="btn__form">
					<input class="btn__submit" type="submit" value="Actualizar">
				</div>
			</form>
		</div>
	</div>
	<!-- Buscar mensajeros -->
	<div id="popUpSearch">
		<div class="container">
			<div class="form__top">
			<h4>Buscar mensajero</h4>
			</div>		
			<form class="form__reg" action="">
				<div class="dropdown"> 
				 <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Filtro 
				 <span class="caret"></span></button> 
				 <ul class="dropdown-menu" role="menu" aria-labelledby="menu1"> 
					 <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Cédula</a></li> 
					 <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Nombre</a></li> 
					 <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Placa</a></li>  
				 </ul> 
				</div> 
				<input class="input" type="text" placeholder="&#128100;  Buscar" required autofocus>
				<div class="btn__form">
					<input class="btn__submit" type="submit" value="Buscar">
				</div>
			</form>
		</div>
	</div>
</body>
</html>